*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(1440deg);
            transform: rotate(1440deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(1440deg);
            transform: rotate(1440deg);
  }
}

@-webkit-keyframes slideTop {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

@keyframes slideTop {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

@-webkit-keyframes slideBot {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
  }
}

@keyframes slideBot {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
  }
}

@-webkit-keyframes imgSize {
  0% {
    -webkit-transform: scale(1) translate(-50%, 0);
            transform: scale(1) translate(-50%, 0);
  }
  100% {
    -webkit-transform: scale(1.5) translate(-50%, -80%);
            transform: scale(1.5) translate(-50%, -80%);
  }
}

@keyframes imgSize {
  0% {
    -webkit-transform: scale(1) translate(-50%, 0);
            transform: scale(1) translate(-50%, 0);
  }
  100% {
    -webkit-transform: scale(1.5) translate(-50%, -80%);
            transform: scale(1.5) translate(-50%, -80%);
  }
}

@media (min-width: 410px) {
  @-webkit-keyframes slideBot {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
  }
  @keyframes slideBot {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
  }
}

@-webkit-keyframes modalSlideIn {
  0% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}

@keyframes modalSlideIn {
  0% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}

@-webkit-keyframes modalSlideOut {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}

@keyframes modalSlideOut {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}

html {
  overflow-y: hidden;
}

body {
  position: relative;
  overflow: hidden;
  font-family: "Nunito", sans-serif;
}

.logo {
  height: 20vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo__image {
  height: 64px;
  margin-top: 20px;
}

.pokeball {
  width: 100vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 65vh;
  cursor: pointer;
}

.pokeball__form {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pokeball__image {
  margin-top: 20px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.pokeball__image--spinning {
  -webkit-animation: spin 3s both;
          animation: spin 3s both;
}

.pokeball__part {
  right: 1px;
  width: 100%;
  position: absolute;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.pokeball__part--poke-top {
  top: -14px;
}

.pokeball__part--poke-bot {
  top: 133px;
}

.pokeball__new-pokemon {
  position: absolute;
  -webkit-transform-origin: 0;
          transform-origin: 0;
  z-index: 100;
  top: 33%;
  z-index: -1;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.pokeball__new-pokemon-img {
  width: 100%;
  height: 100%;
}

.pokeball__click {
  margin-top: 20px;
  position: relative;
  width: 182px;
  height: 45px;
  background: #f2f2f7;
  border-radius: 8px;
  text-align: center;
  line-height: 45px;
  -webkit-animation: pulse 1s infinite alternate linear;
          animation: pulse 1s infinite alternate linear;
}

.pokeball__click::after {
  content: "";
  position: absolute;
  top: -9px;
  left: 50%;
  width: 11px;
  height: 11px;
  background-color: #f2f2f7;
  -webkit-transform: rotate(-45deg) translateX(-50%);
          transform: rotate(-45deg) translateX(-50%);
}

.pokeball__click-text {
  width: 74px;
  height: 27px;
  color: #272727;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0px;
}

.active {
  opacity: 1;
}

.footer {
  width: 100vw;
  height: 15vh;
  position: relative;
}

.footer__btn {
  z-index: 20;
  position: absolute;
  bottom: 24px;
  right: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 50px;
  background: white;
  border: 1px solid #e8e5e5;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.footer__btn-image {
  height: 20px;
  width: 20px;
}

.footer__btn-amount {
  position: absolute;
  top: -8px;
  right: -8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  height: 25px;
  background: #ff6066;
  border-radius: 50%;
}

.footer__btn-amount-text {
  width: 11px;
  height: 23px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0px;
}

.info {
  max-width: 100%;
  z-index: 30;
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-animation: modalSlideIn 1.5s both;
          animation: modalSlideIn 1.5s both;
}

.info__close-btn {
  position: absolute;
  right: 18px;
  top: 18px;
  height: 18px;
  width: 18px;
}

.info__main {
  height: 70%;
  width: 100%;
  background-color: white;
  position: absolute;
  bottom: 0;
  border-radius: 48px 48px 0px 0px;
}

.info__base-info {
  margin: 10% 24px 10% 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}

.info__name, .info__id, .info__category {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}

.info__name {
  color: #272727;
  font-size: 26px;
  font-weight: bold;
}

.info__id {
  color: #272727;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
}

.info__category {
  border-radius: 32px;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  text-transform: uppercase;
  padding: 3px 10px;
  font-size: 12px;
  font-weight: bold;
}

.info__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 24px;
  list-style: none;
}

.info__list-item {
  cursor: pointer;
  margin-right: 20px;
  width: auto;
  color: #272727;
  font-size: 17px;
  font-weight: normal;
  opacity: 0.5;
  padding: 5px 0;
  text-decoration: none;
}

.info__list-item--active {
  opacity: 1;
  font-weight: bold;
  border-bottom: 1px solid #272727;
}

.info__desc {
  margin: 24px 24px 0 24px;
  width: 100%;
  max-height: 40%;
  font-weight: bold;
}

.info__stats {
  list-style: none;
  font-size: 17px;
  color: #272727;
}

.info__buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid rgba(19, 20, 21, 0.1);
}

.info__btn {
  border: none;
  outline: none;
  background-color: white;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid #e8e5e5;
  height: 40px;
  width: 130px;
  color: #272727;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}

.info__btn--add {
  background: #ff6066;
  color: white;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(255, 96, 102, 0.3);
          box-shadow: 0px 2px 4px 0px rgba(255, 96, 102, 0.3);
}

@media (min-width: 359px) {
  @-webkit-keyframes imgSize {
    0% {
      -webkit-transform: scale(1) translate(-50%, 0);
              transform: scale(1) translate(-50%, 0);
    }
    100% {
      -webkit-transform: scale(1.8) translate(-50%, -70%);
              transform: scale(1.8) translate(-50%, -70%);
    }
  }
  @keyframes imgSize {
    0% {
      -webkit-transform: scale(1) translate(-50%, 0);
              transform: scale(1) translate(-50%, 0);
    }
    100% {
      -webkit-transform: scale(1.8) translate(-50%, -70%);
              transform: scale(1.8) translate(-50%, -70%);
    }
  }
  .logo__image {
    height: 80px;
  }
  .pokeball__part--poke-top {
    top: -18px;
  }
  .pokeball__part--poke-bot {
    top: 148px;
  }
  .pokeball__click {
    margin-top: 30px;
  }
  .footer__btn {
    height: 64px;
    width: 64px;
  }
  .footer__btn-image {
    width: 24px;
    height: 24px;
  }
  .footer__btn-amount {
    width: 32px;
    height: 32px;
  }
  .footer__btn-amount-text {
    font-size: 17px;
  }
  .info__name {
    font-size: 30px;
  }
  .info__btn {
    height: 46px;
    width: 134px;
  }
}

@media (min-width: 410px) {
  .pokeball__part {
    opacity: 0.4;
  }
  .pokeball__part--poke-top {
    top: -33px;
  }
  .pokeball__part--poke-bot {
    top: 154px;
  }
  .pokeball__new-pokemon {
    top: 38%;
  }
}
/*# sourceMappingURL=style.css.map */