*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(1440deg);
            transform: translate(-50%, -50%) rotate(1440deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(1440deg);
            transform: translate(-50%, -50%) rotate(1440deg);
  }
}

@-webkit-keyframes slideTop {
  0% {
    -webkit-transform: translate(-50%, -85%) rotate(0deg);
            transform: translate(-50%, -85%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -100%) rotate(0deg);
            transform: translate(-50%, -100%) rotate(0deg);
  }
}

@keyframes slideTop {
  0% {
    -webkit-transform: translate(-50%, -85%) rotate(0deg);
            transform: translate(-50%, -85%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -100%) rotate(0deg);
            transform: translate(-50%, -100%) rotate(0deg);
  }
}

@-webkit-keyframes slideBot {
  0% {
    -webkit-transform: translate(-50%, -13%) rotate(0deg);
            transform: translate(-50%, -13%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, 45%) rotate(0deg);
            transform: translate(-50%, 45%) rotate(0deg);
  }
}

@keyframes slideBot {
  0% {
    -webkit-transform: translate(-50%, -13%) rotate(0deg);
            transform: translate(-50%, -13%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, 45%) rotate(0deg);
            transform: translate(-50%, 45%) rotate(0deg);
  }
}

@-webkit-keyframes imgSize {
  0% {
    -webkit-transform: scale(1) translate(-50%, 0);
            transform: scale(1) translate(-50%, 0);
  }
  100% {
    -webkit-transform: scale(1.5) translate(-50%, -80%);
            transform: scale(1.5) translate(-50%, -80%);
  }
}

@keyframes imgSize {
  0% {
    -webkit-transform: scale(1) translate(-50%, 0);
            transform: scale(1) translate(-50%, 0);
  }
  100% {
    -webkit-transform: scale(1.5) translate(-50%, -80%);
            transform: scale(1.5) translate(-50%, -80%);
  }
}

@-webkit-keyframes modalSlideIn {
  0% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}

@keyframes modalSlideIn {
  0% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}

@-webkit-keyframes modalSlideOut {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}

@keyframes modalSlideOut {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}

@-webkit-keyframes backpackSlideIn {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

@keyframes backpackSlideIn {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes backpackSlideOut {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

@keyframes backpackSlideOut {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes goLeft {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
}

@keyframes goLeft {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
}

@-webkit-keyframes goRight {
  0% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes goRight {
  0% {
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes rollOut {
  0% {
    width: 0;
  }
  100% {
    width: 100px;
  }
}

@keyframes rollOut {
  0% {
    width: 0;
  }
  100% {
    width: 100px;
  }
}

@-webkit-keyframes rollIn {
  0% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes rollIn {
  0% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

html,
body {
  height: 100%;
}

html {
  overflow-y: hidden;
}

body {
  position: relative;
  overflow: hidden;
  font-family: "Nunito", sans-serif;
  min-height: -webkit-fill-available;
}

.logo {
  height: 20%;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo__image {
  height: 64px;
  margin-top: 20px;
}

.pokeball {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  position: relative;
  height: 55%;
  cursor: pointer;
}

.pokeball__form {
  height: 80%;
}

.pokeball__image {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
          transform: translate(-50%, -50%) rotate(0deg);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.pokeball__image--spinning {
  -webkit-animation: spin 3s both;
          animation: spin 3s both;
}

.pokeball__part {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.pokeball__part--poke-top {
  -webkit-transform: translate(-50%, -85%);
          transform: translate(-50%, -85%);
}

.pokeball__part--poke-bot {
  -webkit-transform: translate(-50%, -13%);
          transform: translate(-50%, -13%);
}

.pokeball__new-pokemon {
  position: absolute;
  -webkit-transform-origin: 0;
          transform-origin: 0;
  z-index: 100;
  top: 43%;
  z-index: -1;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.pokeball__new-pokemon-img {
  width: 100%;
  height: 100%;
}

.pokeball__click {
  position: absolute;
  bottom: -70px;
  width: 182px;
  height: 45px;
  background: #f2f2f7;
  border-radius: 8px;
  text-align: center;
  line-height: 45px;
  -webkit-animation: pulse 1s infinite alternate linear;
          animation: pulse 1s infinite alternate linear;
}

.pokeball__click::after {
  content: "";
  position: absolute;
  top: -9px;
  left: 50%;
  width: 11px;
  height: 11px;
  background-color: #f2f2f7;
  -webkit-transform: rotate(-45deg) translateX(-50%);
          transform: rotate(-45deg) translateX(-50%);
}

.pokeball__click-text {
  width: 74px;
  height: 27px;
  color: #272727;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0px;
}

.active {
  opacity: 1;
}

.footer {
  width: 100vw;
  height: 25%;
  position: relative;
}

.footer__btn {
  opacity: 0.55;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  z-index: 20;
  cursor: pointer;
  position: absolute;
  bottom: 24px;
  right: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 50px;
  background: white;
  border: 1px solid #e8e5e5;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.footer__btn--active {
  opacity: 1;
}

.footer__btn-image {
  height: 20px;
  width: 20px;
}

.footer__btn--red {
  background-color: #ff6066;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.footer__btn-amount {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  position: absolute;
  top: -8px;
  right: -8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25px;
  height: 25px;
  background: #ff6066;
  border-radius: 50%;
}

.footer__btn-amount-text {
  width: 11px;
  height: 23px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0px;
}

.info {
  max-width: 100%;
  z-index: 30;
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-animation: modalSlideIn 1.5s both;
          animation: modalSlideIn 1.5s both;
}

.info__close-btn {
  position: absolute;
  right: 18px;
  top: 18px;
  height: 18px;
  width: 18px;
}

.info__main {
  height: 70%;
  width: 100%;
  background-color: white;
  position: absolute;
  bottom: 0;
  border-radius: 48px 48px 0px 0px;
}

.info__base-info {
  margin: 10% 24px 10% 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}

.info__name, .info__id, .info__category {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}

.info__name {
  color: #272727;
  font-size: 26px;
  font-weight: bold;
}

.info__id {
  color: #272727;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
}

.info__category {
  border-radius: 32px;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  text-transform: uppercase;
  padding: 3px 10px;
  font-size: 12px;
  font-weight: bold;
}

.info__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 24px;
  list-style: none;
}

.info__list-item {
  cursor: pointer;
  margin-right: 20px;
  width: auto;
  color: #272727;
  font-size: 17px;
  font-weight: normal;
  opacity: 0.5;
  padding: 5px 0;
  text-decoration: none;
}

.info__list-item--active {
  opacity: 1;
  font-weight: bold;
  border-bottom: 1px solid #272727;
}

.info__desc {
  margin: 24px 24px 0 24px;
  width: 100%;
  max-height: 40%;
  font-weight: bold;
}

.info__stats {
  list-style: none;
  margin-top: 40px;
}

.info__stats-item {
  font-size: 17px;
  color: #272727;
  margin-top: 8px;
}

.info__buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid rgba(19, 20, 21, 0.1);
}

.info__btn {
  border: none;
  outline: none;
  background-color: white;
  border-radius: 8px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid #e8e5e5;
  height: 40px;
  width: 130px;
  color: #272727;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}

.info__btn:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  -webkit-box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 0px rgba(0, 0, 0, 0.1);
}

.info__btn--add {
  background: #ff6066;
  color: white;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(255, 96, 102, 0.3);
          box-shadow: 0px 2px 4px 0px rgba(255, 96, 102, 0.3);
}

.info__btn--add:active {
  -webkit-box-shadow: 0px 1px 2px 0px rgba(255, 96, 102, 0.3);
          box-shadow: 0px 1px 2px 0px rgba(255, 96, 102, 0.3);
}

.backpack {
  max-height: 100%;
  overflow-y: scroll;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
}

.backpack__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 10%;
  text-align: center;
  border-bottom: 1px solid rgba(19, 20, 21, 0.1);
  line-height: 10%;
}

.backpack__main-title {
  margin-left: 10px;
  font-weight: bold;
  font-size: 20px;
}

.backpack__pokemon-list {
  max-height: 80%;
  overflow-y: scroll;
  text-align: center;
}

.backpack__text-div {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.backpack__poke {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
  height: 131px;
  width: 90%;
  border-radius: 8px;
  margin: 30px auto 10px auto;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.backpack__poke--red {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: 131px;
  background-color: #ff6066;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.backpack__poke-deleter {
  height: 30px;
  width: 30px;
}

.backpack__poke-name {
  text-transform: capitalize;
  font-weight: bold;
  color: #272727;
  font-size: 24px;
}

.backpack__poke-category {
  border-radius: 32px;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  text-transform: uppercase;
  padding: 3px 10px;
  font-size: 12px;
  font-weight: bold;
}

.backpack__poke-img {
  width: 130px;
  height: 130px;
}

@media (min-width: 359px) {
  @-webkit-keyframes imgSize {
    0% {
      -webkit-transform: scale(1) translate(-50%, 0);
              transform: scale(1) translate(-50%, 0);
    }
    100% {
      -webkit-transform: scale(1.8) translate(-50%, -80%);
              transform: scale(1.8) translate(-50%, -80%);
    }
  }
  @keyframes imgSize {
    0% {
      -webkit-transform: scale(1) translate(-50%, 0);
              transform: scale(1) translate(-50%, 0);
    }
    100% {
      -webkit-transform: scale(1.8) translate(-50%, -80%);
              transform: scale(1.8) translate(-50%, -80%);
    }
  }
  .logo__image {
    height: 80px;
  }
  .pokeball__click {
    bottom: -50px;
  }
  .footer__btn {
    height: 64px;
    width: 64px;
  }
  .footer__btn-image {
    width: 24px;
    height: 24px;
  }
  .footer__btn-amount {
    width: 32px;
    height: 32px;
  }
  .footer__btn-amount-text {
    font-size: 17px;
  }
  .info__close-btn {
    height: 26px;
    width: 26px;
  }
  .info__name {
    font-size: 30px;
  }
  .info__btn {
    height: 46px;
    width: 134px;
  }
  .backpack__poke-deleter {
    height: 40px;
    width: 40px;
  }
}

@media (min-width: 374px) and (min-height: 811px) {
  @-webkit-keyframes imgSize {
    0% {
      -webkit-transform: scale(1) translate(-50%, 0);
              transform: scale(1) translate(-50%, 0);
    }
    100% {
      -webkit-transform: scale(1.9) translate(-50%, -90%);
              transform: scale(1.9) translate(-50%, -90%);
    }
  }
  @keyframes imgSize {
    0% {
      -webkit-transform: scale(1) translate(-50%, 0);
              transform: scale(1) translate(-50%, 0);
    }
    100% {
      -webkit-transform: scale(1.9) translate(-50%, -90%);
              transform: scale(1.9) translate(-50%, -90%);
    }
  }
}

@media (min-width: 410px) {
  @-webkit-keyframes slideTop {
    0% {
      -webkit-transform: translate(-50%, -85%) rotate(0deg);
              transform: translate(-50%, -85%) rotate(0deg);
    }
    100% {
      -webkit-transform: translate(-50%, -110%) rotate(0deg);
              transform: translate(-50%, -110%) rotate(0deg);
    }
  }
  @keyframes slideTop {
    0% {
      -webkit-transform: translate(-50%, -85%) rotate(0deg);
              transform: translate(-50%, -85%) rotate(0deg);
    }
    100% {
      -webkit-transform: translate(-50%, -110%) rotate(0deg);
              transform: translate(-50%, -110%) rotate(0deg);
    }
  }
  @-webkit-keyframes slideBot {
    0% {
      -webkit-transform: translate(-50%, -13%) rotate(0deg);
              transform: translate(-50%, -13%) rotate(0deg);
    }
    100% {
      -webkit-transform: translate(-50%, 46%) rotate(0deg);
              transform: translate(-50%, 46%) rotate(0deg);
    }
  }
  @keyframes slideBot {
    0% {
      -webkit-transform: translate(-50%, -13%) rotate(0deg);
              transform: translate(-50%, -13%) rotate(0deg);
    }
    100% {
      -webkit-transform: translate(-50%, 46%) rotate(0deg);
              transform: translate(-50%, 46%) rotate(0deg);
    }
  }
  @-webkit-keyframes imgSize {
    0% {
      -webkit-transform: scale(1) translate(-50%, 0);
              transform: scale(1) translate(-50%, 0);
    }
    100% {
      -webkit-transform: scale(1.9) translate(-50%, -85%);
              transform: scale(1.9) translate(-50%, -85%);
    }
  }
  @keyframes imgSize {
    0% {
      -webkit-transform: scale(1) translate(-50%, 0);
              transform: scale(1) translate(-50%, 0);
    }
    100% {
      -webkit-transform: scale(1.9) translate(-50%, -85%);
              transform: scale(1.9) translate(-50%, -85%);
    }
  }
  .pokeball__new-pokemon {
    top: 45%;
  }
  .pokeball__click {
    bottom: -20px;
  }
  .info__btn {
    width: 170px;
  }
}
/*# sourceMappingURL=style.css.map */