*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

@keyframes pulse {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1440deg);
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50px);
  }
}

@keyframes slideBot {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(80px);
  }
}

@keyframes imgSize {
  0% {
    transform: scale(1) translate(-50%, 0);
  }
  100% {
    transform: scale(1.5) translate(-50%, -80%);
  }
}

@media (min-width: 410px) {
  @keyframes slideBot {
    0% {
      transform: translate(0);
    }
    100% {
      transform: translateY(100px);
    }
  }
}

body {
  position: relative;
  height: 100vh;
  width: 100vw;
  font-family: "Nunito", sans-serif;
}

.logo {
  height: 20%;
  display: flex;
  justify-content: center;
  &__image {
    height: 64px;
    margin-top: 20px;
  }
}

.pokeball {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 65%;
  cursor: pointer;

  &__form {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
  }
  &__image {
    height: 260px;
    width: 260px;
    margin-top: 20px;
    &--spinning {
      animation: spin 3s both;
    }
  }

  &__new-pokemon {
    position: absolute;
    transform-origin: 0;
    z-index: 100;
    top: 33%;
    z-index: -1;
    left: 50%;
    transform: translate(-50%, 0);
    &-img {
      width: 100%;
      height: 100%;
    }
  }
  &__click {
    margin-top: 20px;
    position: relative;
    width: 182px;
    height: 45px;
    background: rgb(242, 242, 247);
    border-radius: 8px;
    text-align: center;
    line-height: 45px;
    animation: pulse 1s infinite alternate linear;
    &::after {
      content: "";
      position: absolute;
      top: -9px;
      left: 50%;
      width: 11px;
      height: 11px;
      background-color: rgb(242, 242, 247);
      transform: rotate(-45deg) translateX(-50%);
    }
    &-text {
      width: 74px;
      height: 27px;
      color: rgb(39, 39, 39);
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 0px;
    }
  }
  &__part {
    position: absolute;
    transition: 0.3s;
    width: 357px;
    height: 357px;
    &--poke-top {
      top: -82px;
    }
    &--poke-bot {
      top: 80px;
    }
  }
}

.footer {
  height: 15%;
  position: relative;
  &__btn {
    z-index: 20;
    position: absolute;
    bottom: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(232, 229, 229);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    &-image {
      height: 20px;
      width: 20px;
    }
    &-amount {
      position: absolute;
      top: -8px;
      right: -8px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25px;
      height: 25px;
      background: rgb(255, 96, 102);
      border-radius: 50%;
      &-text {
        width: 11px;
        height: 23px;
        color: rgb(255, 255, 255);
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        letter-spacing: 0px;
      }
    }
  }
}

.info {
  z-index: 30;
  top: 0;
  left: 0;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: lightblue;
}

@media (min-width: 359px) {
  .logo {
    &__image {
      height: 80px;
    }
  }
  .pokeball {
    &__image {
      height: 300px;
      width: 300px;
    }
  }
  .footer__btn {
    height: 64px;
    width: 64px;
    &-image {
      width: 24px;
      height: 24px;
    }
    &-amount {
      width: 32px;
      height: 32px;
      &-text {
        font-size: 17px;
      }
    }
  }
}

@media (min-width: 410px) {
  .pokeball {
    &__image {
      width: 310px;
      height: 310px;
    }
    &__new-pokemon {
      top: 29%;
    }
  }
}
